---
import Layout from "@layouts/layout.astro"
---

<Layout title="Assesment">
	<section class="container mx-auto px-4 py-16 mt-16">
		<h1 class="text-3xl sm:text-4xl font-black text-center text-sky-600">
			Choose Curriculum
		</h1>
		<p class="mt-4 text-lg text-center max-w-sm mx-auto">
			Learn at your own pace by taking our self help courses. Access custom questions designed to help you grasp every topic at a level of mastery that is unmatched
		</p>
		<div class="grid sm:grid-cols-3 gap-6 mt-6">
			<a href="/assesment/select-grades?curriculum=cbc" class="bg-gray-200 dark:bg-gray-900 rounded-xl shadow-md cursor-pointer">
			  <img class="w-full rounded-tr-xl rounded-tl-xl" src="/images/844.avif" alt="Students writing">
			  <div class="px-2">
			    <h2 class="text-base font-black pb-2 text-center">
		        CBC
		      </h2>
			  </div>
			</a>
			<a href="/assesment/select-grades?curriculum=8-4-4" class="bg-gray-200 dark:bg-gray-900 rounded-xl shadow-md cursor-pointer">
			  <img class="w-full rounded-tr-xl rounded-tl-xl" src="/images/girl.jpeg" alt="Girl on a book shelf">
			  <div class="px-2">
			    <h2 class="text-base font-black pb-2 text-center">
		        8-4-4
		      </h2>
			  </div>
			</a>
			<a href="/assesment/select-grades?curriculum=british" class="bg-gray-200 dark:bg-gray-900 rounded-xl shadow-md cursor-pointer">
			  <img class="w-full rounded-tr-xl rounded-tl-xl" src="/images/girl-writing.avif" alt="item.title">
			  <div class="px-2">
			    <h2 class="text-base font-black pb-2 text-center">
		        British
		      </h2>
			  </div>
			</a>
			<!--<a href="/assesment/select-grades?curriculum=igcse" class="bg-gray-200 dark:bg-gray-900 rounded-xl shadow-md cursor-pointer">
			  <img class="w-full rounded-tr-xl rounded-tl-xl" src="/images/igcse.webp" alt="">
			  <div class="px-2">
			    <h2 class="text-base font-black pb-2 text-center">
		        IGCSE
		      </h2>
			  </div>
			</a>-->
		</div>
	</section>
</Layout>
