---
import Layout from "@layouts/layout.astro"
import TopicCard from "@components/TopicCard.svelte"
import LoginAlert from "@components/LoginAlert.svelte"
---

<Layout title="Select Revision Topic">
	<h1 class="text-3xl sm:text-4xl font-black text-center text-sky-600 mt-24">
		Select Revision Topic
	</h1>
	<p class="mt-4 text-lg text-center max-w-sm mx-auto">
		Choose a topic you want to revise. We offer diverse and unique topics for every curriculum to help you master your level of study.
	</p>
	<div class="container mx-auto p-4">
		<div class="grid gap-4">
			<TopicCard client:load />
		</div>
	</div>
	<LoginAlert client:load />
</Layout>
