---
import Layout from "@layouts/layout.astro"
import RequestTutorForm from "@components/RequestTutorForm.svelte"
---

<Layout title="Find a tutor" description="Find a tutor">
  <section class="relative h-[30rem]">
    <img
      class="absolute inset-0 object-[75%] sm:object-[25%] object-cover w-full h-full opacity-25 sm:opacity-100"
      src="/images/become-tutor.avif"
      alt="smiling child"
    />

    <div class="hidden sm:block sm:inset-0 sm:absolute sm:bg-gradient-to-r sm:from-black sm:to-transparent"></div>

    <div class="relative px-4 py-48 mx-auto max-w-screen-xl lg:items-center lg:flex">
      <div class="max-w-xl text-center sm:text-left">
        <h1 class="text-3xl text-white font-extrabold sm:text-5xl">
          Get helped by many of our
          <strong class="font-extrabold text-rose-500 sm:block">
            qualified tutors
          </strong>
        </h1>
      </div>
    </div>
  </section>
  <RequestTutorForm client:load />
</Layout>
