---
import Layout from "@layouts/auth-layout.astro"
---

<Layout title="Login" description="Access your user account">
	<div class="w-full max-w-md p-8 space-y-3 rounded-xl bg-gray-200 dark:bg-gray-900 dark:text-gray-100 shadow-md">
		<h1 class="text-2xl font-bold text-center">
			Reset Password
		</h1>
		<form novalidate="" action="" class="space-y-6 ng-untouched ng-pristine ng-valid">
			<div class="space-y-1 text-sm">
				<label for="email" class="block dark:text-gray-400">
					Email address
				</label>
				<input type="text" name="email" id="email" placeholder="someone@example.com" class="w-full px-4 py-3 rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100 focus:dark:border-indigo-400">
			</div>
			<button class="block w-full p-3 text-center rounded-sm dark:text-gray-900 dark:bg-indigo-400">
				Reset
			</button>
		</form>
	</div>
</Layout>